<div class="container mt-5">
  <div class="card mx-auto shadow" style="max-width: 400px;">
    <div class="card-header bg-primary text-white text-center">
      ShiftMate ログイン
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),data: { turbo: false}) do |f| %>
        <div class="mb-3">
          <%= f.label :employee_code, "ID", class: "form-label" %>
          <%= f.text_field :employee_code, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "パスワード", class: "form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="d-grid mb-3">
          <%= f.submit "ログイン", class: "btn btn-secondary" %>
        </div>
      <% end %>

      <div class="text-end">
        <%= link_to "新規登録はこちら", new_user_registration_path, class: "small" %>
      </div>
    </div>
  </div>
</div>